.mat-card {
  transition:box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
  display:flex;
  padding:10px;
  border-radius:2px;
  height: 700px;
  width: 700px;
 }
 .mat-card-subtitle {
  margin-left:-5px;
  margin-right:-1px;
  color: beige;
 }
 .mat-card-actions {
  margin-left:-10px;
  margin-right:-10px;
  padding:0px 0px
 }
 .mat-card-image {
  margin:0 -16px 16px -16px
 }
 .mat-card-header {
  display:inline-flex;
  left: -2px;
 }
 .mat-card-header
 .mat-card-subtitle {
  margin-bottom:5px
 }
 .mat-card-header-text {
  margin:40px 40px
 }
 .mat-card-avatar {
  height:40px;
  width:40px;
  border-radius:5%;
  flex-shrink:1;
  object-fit:flex;
 }

