.header{
  display: flex;
  align-items: right;
}
.header a{
  display: flex;
  align-items: left;
  text-decoration: none;
  color: #000;
}
.header .title-group{
  padding-left: 25px;
}
.header .title-group i{
  padding-right: 5px;
}
